body {
  font-family: Arial, Helvetica, sans-serif;
  color: #222;
}

.emoji {
  border: 1px solid #222;
  border-radius: 8px;
  padding: 1rem;
  display: flex;
  flex-direction: column;
}

.emoji h2 {
  margin: 0;
  border-bottom: 2px solid #ccc;
  display: flex;
  font-weight: 800;
  order: 2;

}

.emoji a {
  text-decoration: none;
  background-color: #781BAA;
  color: white;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border-radius: 8px;
  margin-top: auto;
  order: 3;
}

.emoji a:hover {
  background-color: #a73ae1;
  color: rgb(0, 0, 0);
}

.icon {
  font-size: 4rem;
  order: 1;
  display: flex;
  justify-content: center;
}

.emoji p {
  order: 2;
}

.emojis {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 15px;
}